body{
    background-repeat: no-repeat;
    
}
img{
    background-repeat: no-repeat;
    margin: auto;
    display: block;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: blueviolet;
}

div{
    font-family:monospace;
    font-size: large;
    text-align: center;
    color:#640000;
  
}